@use "common/reset";
@use "common/fonts";
@use "common/variables";
@use "common/themes";
@use "common/typography";
@use "common/mixins";

@use 'swiper/css';
@use 'swiper/css/navigation';
@use 'swiper/css/pagination';

@use "app";

@use "pages/login/index" as login;

@use "widgets/loader/index" as loader;
@use "widgets/header/index" as header;