@use '../../common/variables' as *;
@use '../../common/themes' as *;

.transactions {
  display: flex;
  flex-direction: column;
  gap: 16px;

  &-tabs {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .ant-tabs-nav {
      margin: 0;
    }
  }

  &-table {
    padding: 16px;
    border: 2px solid var(--border-color);
    background-color: var(--bg-card);
    border-radius: $border-radius-lg;
    overflow: hidden;

    @media (max-width: 768px) {
      padding: 8px;
    }

    :global {
      .ant-table-wrapper .ant-table {
        background: transparent;
        color: var(--text-main);
      }
      .ant-table-wrapper .ant-table-thead > tr > th {
        background: var(--bg-page);
        color: var(--text-main);
        border-bottom: 1px solid var(--border-color);
      }
      .ant-table-wrapper .ant-table-tbody > tr > td {
        border-bottom: 1px solid var(--border-color);
      }
      .ant-table-wrapper .ant-table-tbody > tr:hover > td {
        background: var(--bg-page);
      }
    }
  }
}